# compiled output
.vscode
/node_modules

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc
.nx
.env*
src/config/prod/*

# test
jest.config.js

# docker
Dockerfile
docker-compose*.yml
/src
