<p-toolbar *ngIf="!isLoading">
    <div class="flex justify-content-start gap-1" *ngFor="let type of thingsTypes">
        <p-checkbox name="selTypes" (onChange)="filterList()" [binary]="false" [label]="type.label" [value]="type.value"
            [(ngModel)]="selTypes">
            <ng-template let-item pTemplate>
                <fa-icon [icon]="['fas',item.icon]"></fa-icon>
            </ng-template>
        </p-checkbox>
    </div>
    <div class="flex justify-content-end">
        <label for="selection" class="mr-3 mt-2">Display all Things:</label>
        <p-toggleButton id="selection" [(ngModel)]="fDisplayAll" (onChange)="filterList()" onLabel="Yes"
            offLabel="No" />
    </div>
</p-toolbar>
<p-scrollPanel [style]="{ width: '100%', height: '100%' }">
    <div *ngIf="!isLoading" class="surface-ground px-2 py-5 md:px-4 lg:px-6">
        <div class="grid">
            <p-contextMenu #contextmenu [model]="cmObj2Sub" [global]="false" appendTo="body" />
            <div #thing (contextmenu)="showContextMenu(data, $event)" class="col-12 md:col-6 lg:col-3"
                *ngFor="let data of lThingsList; index as ind">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span pBadge class="flex align-content-start text-500 font-medium mb-3 text-xl"
                                [severity]="data.obj2sub!.count! < 2 ? 'danger' : null"
                                [value]="data.obj2sub ? data.obj2sub!.count ?? 0 : 0"
                                (click)="showContextMenu(data, $event)">{{data.name}}
                                <p-image class=" mr-2 ml-2 justify-content-center align-content-center"
                                    *ngIf="data.photo && data.photo != ''" [src]="data.photo" [preview]="true"
                                    width="50" height="50"></p-image>
                            </span>
                            <div class="text-900 font-medium align-content-end" *ngIf="data.obj2sub">
                                <fa-icon [icon]="['fas', data.placetype!.icon!]"></fa-icon>
                                {{data.place?.name}} - {{data.subplace?.name}}
                            </div>
                            <div class="text-500 font-medium font-italic align-content-start mt-1"
                                *ngIf="data.obj2sub && data.obj2sub.valid_until">
                                <span *ngIf="isValidPast(data)" class="text-red-500">
                                    valid: {{data.obj2sub.valid_until}}
                                </span>
                                <span *ngIf="!isValidPast(data)" class="text-green-500">
                                    valid: {{data.obj2sub.valid_until}}
                                </span>
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center border-round">
                            <button pButton pRipple [raised]="false" [outlined]="true" (dblclick)="onAddOne(data)"
                                (click)="onRemoveOne(data, $event)">
                                <fa-icon [icon]="['fas', data.icon!]" class="text-blue-500 text-xl"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-scrollPanel>

<p-dialog header="Add/Update Thing to Subplace" [(visible)]="showDialog" [modal]="true" [maximizable]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{width: '50vw'}">
    <p>
        Select the subplace to add the thing and fill out the necessary fields
    </p>
    <div class="field grid">
        <label for="subplace" class="col-12 mb-2 md:col-2 md:mb-0">Subplace</label>
        <div class="col-12 md:col-10">
            <p-dropdown inputId="subplace" [options]="lSubPlaceSelect" optionLabel="name" [(ngModel)]="selSubplace"
                placeholder="Select a Subplace" appendTo="body">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selSubplace">

                        <div><fa-icon [icon]="['fas',selSubplace.icon]"></fa-icon> {{selSubplace.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-subplace pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div><fa-icon [icon]="['fas',subplace.icon]"></fa-icon> {{ subplace.name }}</div>
                    </div>
                </ng-template>

            </p-dropdown>
        </div>
    </div>
    <div class="field grid">
        <label for="count" class="col-12 mb-2 md:col-2 md:mb-0">Count</label>
        <div class="col-12 md:col-10">
            <input type="number" id="count" pInputText [(ngModel)]="selObj2Sub.count" />
        </div>
    </div>
    <div class="field grid">
        <label for="shopped" class="col-12 mb-2 md:col-2 md:mb-0">Shopped at</label>
        <div class="col-12 md:col-10">
            <input type="date" id="shopped" pInputText [(ngModel)]="selObj2Sub.shopped_at" />
        </div>
    </div>
    <div class="field grid">
        <label for="valid" class="col-12 mb-2 md:col-2 md:mb-0">Valid until</label>
        <div class="col-12 md:col-10">
            <input type="date" id="valid" pInputText [(ngModel)]="selObj2Sub.valid_until" />
        </div>
    </div>
    <div class="grid m-2">
        <div class="col-12 md:col-2">
            <button pButton label="Save" (click)="saveSubplace()"></button>
        </div>
        <div class="col-12 md:col-2">
            <button pButton label="Cancel" (click)="showDialog=false"></button>
        </div>
    </div>
</p-dialog>