<p-treeTable #tt *ngIf="!isLoading" paginatorLocale="en-GB" [value]="lKeller" [columns]="cols" [paginator]="true"
    filterMode="lenient" [alwaysShowPaginator]="false" paginatorPosition="top" [showCurrentPageReport]="true"
    [showJumpToPageDropdown]="true" selectionMode="single" [(selection)]="selectedNode" dataKey="id" [rows]="10"
    [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" scrollHeight="flex" [autoLayout]="true">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-center mb-4">
            <div class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Global Search" (input)="globalSearch($event, tt)" />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
            <th></th>
        </tr>
        <tr>
            <th *ngFor="let col of cols">
                <input *ngIf="col.field == 'name'" pInputText type="text"
                    (input)="fieldSearch($event, tt, col.field)" />
                <p-dropdown *ngIf="col.field == 'type'" [options]="thingsTypes" [(ngModel)]="thingType" appendTo="body"
                    class="w-full" (onChange)="fieldSearchType(tt)" [showClear]="true"></p-dropdown>
            </th>
            <th></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                <span *ngIf="col.field == 'name' && rowData.icon != undefined" [class]="'pi ' + rowData.icon"></span>
                {{ rowData[col.field] }}
            </td>
            <td>
                <button *ngIf="rowNode.level == 0" pButton label="+" (click)="onAddOnSubject(rowNode)"
                    class="mr-2"></button>
                <button *ngIf="rowNode.level > 0" pButton label="-1" (click)="onRemoveOne(rowNode, rowData)"
                    class="mr-2"></button>
                <button *ngIf="rowNode.level > 0" pButton label="+1" (click)="onAddOne(rowNode, rowData)"
                    class="mr-2"></button>
                <button *ngIf="rowNode.level > 0" pButton icon="pi pi-trash" (click)="delEntry(tt, rowNode, rowData)"
                    class="mr-2"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="cols.length">No data found.</td>
        </tr>
    </ng-template>
</p-treeTable>
<p-dialog header="Add Thing to Subplace" [(visible)]="showDialog" [style]="{width: '50vw'}">
    <p>
        Select the subplace to add the thing and fill out the necessary fields
    </p>
    <div class="field grid">
        <label for="subplace" class="col-12 mb-2 md:col-2 md:mb-0">Subplace</label>
        <div class="col-12 md:col-10">
            <p-dropdown inputId="subplace" [options]="lSubPlaceSelect" optionLabel="name" [(ngModel)]="selSubplace"
                placeholder="Select a Subplace" appendTo="body">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selSubplace">
                        <div [ngClass]="'pi '+ selSubplace.icon">{{selSubplace.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-subplace pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div [ngClass]="'pi '+ subplace.icon"> {{ subplace.name }}</div>
                    </div>
                </ng-template>

            </p-dropdown>
        </div>
    </div>
    <div class="field grid">
        <label for="count" class="col-12 mb-2 md:col-2 md:mb-0">Count</label>
        <div class="col-12 md:col-10">
            <input type="number" id="count" pInputText [(ngModel)]="selObj2Sub.count" />
        </div>
    </div>
    <div class="field grid">
        <label for="shopped" class="col-12 mb-2 md:col-2 md:mb-0">Shopped at</label>
        <div class="col-12 md:col-10">
            <input type="date" id="shopped" pInputText [(ngModel)]="selObj2Sub.shopped_at" />
        </div>
    </div>
    <div class="field grid">
        <label for="valid" class="col-12 mb-2 md:col-2 md:mb-0">Valid until</label>
        <div class="col-12 md:col-10">
            <input type="date" id="valid" pInputText [(ngModel)]="selObj2Sub.valid_until" />
        </div>
    </div>
    <div class="grid m-2">
        <div class="col-12 md:col-2">
            <button pButton label="Save" (click)="saveSubplace()"></button>
        </div>
        <div class="col-12 md:col-2">
            <button pButton label="Cancel" (click)="showDialog=false"></button>
        </div>
    </div>
</p-dialog>