<div style="height: 100%;">
  @if (!isLoading) {
    <p-table dataKey="id" editMode="row" [value]="lPlacetypes" [scrollable]="true"
      scrollHeight="flex">
      <ng-template #caption>
        <button pButton pRipple class="mr-2"
        (click)="onRowNew()"><i class="pi pi-plus" pButtonIcon></i><span pButtonLabel>New</span></button>
        <button pButton pRipple class="p-button-secondary mr-2"
        (click)="onClose()"><i class="pi pi-sign-out" pButtonIcon></i><span pButtonLabel>Close</span></button>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>Name</th>
          <th>Icon</th>
          <th style="width:4em"></th>
        </tr>
      </ng-template>
      <ng-template #body let-placetype let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="placetype">
          <td>
            <p-celleditor>
              <ng-template #input>
                <input pInputText type="text" [(ngModel)]="placetype.name">
              </ng-template>
              <ng-template #output>
                {{placetype.name}}
              </ng-template>
            </p-celleditor>
          </td>
          <td>
            <p-celleditor>
              <ng-template #input>
                <p-select [options]="lIcons" [showClear]="true" [(ngModel)]="placetype.icon"
                  [style]="{'width':'100%'}" appendTo="body">
                  <ng-template #selectedItem>
                    @if (placetype.icon) {
                      <div class="flex items-center gap-2">
                        <fa-icon [icon]="['fas', placetype.icon]"></fa-icon> {{placetype.icon}}
                      </div>
                    }
                  </ng-template>
                  <ng-template let-icons #item>
                    <div class="flex items-center gap-2">
                      <fa-icon [icon]="['fas',icons.icon]"></fa-icon>
                      <div>{{ icons.label }}</div>
                    </div>
                  </ng-template>
                </p-select>
              </ng-template>
              <ng-template #output>
                <fa-icon [icon]="['fas', placetype.icon]"></fa-icon> {{placetype.icon}}
              </ng-template>
            </p-celleditor>
          </td>
          <td>
            <div class="flex items-center justify-center gap-2">
              @if (!editing) {
                <button pButton pRipple type="button" pInitEditableRow
                (click)="onRowEditInit(placetype)" class="p-button-rounded p-button-text"><i class="pi pi-pencil" pButtonIcon></i></button>
              }
              @if (!editing && placetype.id > 0) {
                <button pButton pRipple type="button"
                (click)="onRowDelete(placetype, ri)" class="p-button-rounded p-button-text"><i class="pi pi-trash" pButtonIcon></i></button>
              }
              @if (editing) {
                <button pButton pRipple type="button" pSaveEditableRow
                  (click)="onRowEditSave(placetype, ri)"
                class="p-button-rounded p-button-text mr-2"><i class="pi pi-check" pButtonIcon></i></button>
              }
              @if (editing) {
                <button pButton pRipple type="button" pCancelEditableRow
                  (click)="onRowEditCancel(placetype, ri)"
                class="p-button-rounded p-button-text p-button-danger"><i class="pi pi-times" pButtonIcon></i></button>
              }
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #summary>
        <hr />
        {{lPlacetypes.length}} Placetypes
      </ng-template>
    </p-table>
  }
</div>