<h1>Places</h1>
<div style="height: 100%;">
  @if (!isLoading) {
    <p-table dataKey="id" editMode="row" [value]="lPlaces" [scrollable]="true" scrollHeight="flex">
      <ng-template #caption>
        <button pButton pRipple class="p-button-success mr-2"
        (click)="onRowNew()"><i class="pi pi-plus" pButtonIcon></i><span pButtonLabel>New</span></button>
        <button pButton pRipple class="p-button-secondary mr-2"
        (click)="showPlacetype()"><i class="pi pi-sitemap" pButtonIcon></i><span pButtonLabel>Placetypes</span></button>
      </ng-template>
      <ng-template #header>
        <tr>
          <th pSortableColumn="name" style="width:30%">Name <p-sorticon field="name"></p-sorticon></th>
          <th pSortableColumn="placetype" style="width:20%">Type <p-sorticon field="placetype"></p-sorticon></th>
          <th  style="width:20%">Last upated </th>
          <th pSortableColumn="user" style="width:20%">Last User <p-sorticon field="user"></p-sorticon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-place let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="place">
          <td>
            <p-celleditor>
              <ng-template #input>
                <input pInputText type="text" [(ngModel)]="place.name">
              </ng-template>
              <ng-template #output>
                {{place.name}}
              </ng-template>
            </p-celleditor>
          </td>
          <td>
            <p-celleditor>
              <ng-template #input>
                <p-select [options]="lPlaceType" appendTo="body" [(ngModel)]="place.placetypeid"
                  [style]="{'width':'100%'}">
                  <ng-template #selectedItem>
                    @if (place.icon) {
                      <div class="flex items-center gap-2">
                        <fa-icon [icon]="['fas', place.icon]"></fa-icon>  {{ place.placetype }}
                      </div>
                    }
                  </ng-template>
                  <ng-template let-icons #item>
                    <div class="flex items-center gap-2">
                      <fa-icon [icon]="['fas', icons.icon]"></fa-icon>
                      <div>{{ icons.label }}</div>
                    </div>
                  </ng-template>
                </p-select>
              </ng-template>
              <ng-template #output>
                <fa-icon [icon]="['fas', place.icon]"></fa-icon> {{ place.placetype }}
              </ng-template>
            </p-celleditor>
          </td>
          <td>
            {{place.updatedAt | stringDate: 'd. MMMM yyyy HH:mm' }}
          </td>
          <td>
            {{place.user}}
          </td>
          <td>
            <div class="flex items-center justify-center gap-2">
              @if (!editing) {
                <button pButton pRipple type="button" pInitEditableRow
                (click)="onRowEditInit(place)" class="p-button-rounded p-button-text"><i class="pi pi-pencil" pButtonIcon></i></button>
              }
              @if (!editing && place.id > 0) {
                <button pButton pRipple type="button"
                (click)="onRowDelete(place, ri)" class="p-button-rounded p-button-text"><i class="pi pi-trash" pButtonIcon></i></button>
              }
              @if (editing) {
                <button pButton pRipple type="button" pSaveEditableRow
                  (click)="onRowEditSave(place, ri)"
                class="p-button-rounded p-button-text p-button-success mr-2"><i class="pi pi-check" pButtonIcon></i></button>
              }
              @if (editing) {
                <button pButton pRipple type="button" pCancelEditableRow
                  (click)="onRowEditCancel(place, ri)"
                class="p-button-rounded p-button-text p-button-danger"><i class="pi pi-times" pButtonIcon></i></button>
              }
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #summary>
        <hr/>
        {{lPlaces.length}} Places
      </ng-template>
    </p-table>
  }
</div>