<h1>Things</h1>
<div style="height: 100%;">
  @if (!isLoading) {
    <p-table dataKey="id" [value]="lThings" [scrollable]="true" scrollHeight="flex">
      <ng-template pTemplate="caption">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="onRowNew()"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width:30%">Name <p-sorticon field="name"></p-sorticon></th>
          <th pSortableColumn="thing_type" style="width:20%">Type <p-sorticon field="thing_type"></p-sorticon>
        </th>
        <th pSortableColumn="weight" style="width:20%">Weight <p-sorticon field="weight"></p-sorticon></th>
        <th pSortableColumn="shop" style="width:20%">Shop <p-sorticon field="shop"></p-sorticon></th>
        <th pSortableColumn="updatedAt_date" style="width:20%">Last updated <p-sorticon
        field="updatedAt_date"></p-sorticon></th>
        <th pSortableColumn="user" style="width:20%">Last User <p-sorticon field="user"></p-sorticon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-thing let-ri="rowIndex">
      <tr [pSelectableRow]="selThing">
        <td>
          {{thing.name}}
        </td>
        <td>
          {{thing.thing_type}}
        </td>
        <td>
          {{thing.weight}}
        </td>
        <td>
          {{thing.shop}}
        </td>
        <td>
          {{thing.updatedAt | stringDate: 'd. MMMM yyyy HH:mm' }}
        </td>
        <td>
          {{thing.user}}
        </td>
        <td>
          <div class="flex items-center justify-center gap-2">
            <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEdit(thing, ri)"
            class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(thing, ri)"
            class="p-button-rounded p-button-text"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <hr />
      {{lThings.length}} Things
    </ng-template>
  </p-table>
}
</div>