<h1>Things</h1>
<div style="height: 100%;">
    <p-table *ngIf="!isLoading" dataKey="id" [value]="lThings" [scrollable]="true" scrollHeight="flex">
        <ng-template pTemplate="caption">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="onRowNew()"></button>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:30%">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="thing_type" style="width:20%">Type <p-sortIcon field="thing_type"></p-sortIcon>
                </th>
                <th pSortableColumn="weight" style="width:20%">Weight <p-sortIcon field="weight"></p-sortIcon></th>
                <th pSortableColumn="shop" style="width:20%">Shop <p-sortIcon field="shop"></p-sortIcon></th>
                <th pSortableColumn="updatedAt_date" style="width:20%">Last updated <p-sortIcon
                        field="updatedAt_date"></p-sortIcon></th>
                <th pSortableColumn="user" style="width:20%">Last User <p-sortIcon field="user"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-thing let-ri="rowIndex">
            <tr [pSelectableRow]="selThing">
                <td>
                    {{thing.name}}
                </td>
                <td>
                    {{thing.thing_type}}
                </td>
                <td>
                    {{thing.weight}}
                </td>
                <td>
                    {{thing.shop}}
                </td>
                <td>
                    {{thing.updatedAt | stringDate: 'd. MMMM yyyy HH:mm' }}
                </td>
                <td>
                    {{thing.user}}

                </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEdit(thing, ri)"
                            class="p-button-rounded p-button-text"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(thing, ri)"
                            class="p-button-rounded p-button-text"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <hr />
            {{lThings.length}} Things
        </ng-template>
    </p-table>
</div>