/* You can add global styles to this file, and also import other style files */
/* $gutter: 1rem; /* for primeflex grid system */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/aura-light-teal/theme.css";
@import "../node_modules/flag-icons/css/flag-icons.min.css";

:root {
    --highlight-bg: var(--primary-800);
  }
  @layer primeng {
    .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
        color: #495057;
        background: var(--highlight-bg) !important;
    }
}
@layer primeng {
    .p-menubar .p-menuitem.p-focus > .p-menuitem-content {
        color: #495057;
        background: var(--highlight-bg) !important;
    }
}
@layer primeng {
    .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-content {
        color: #495057;
        background: var(--highlight-bg) !important;
    }
}

.klBadgeWarning .p-badge { 
    background-color: yellow !important;
    color: black !important;
}

.klBadgeDanger .p-badge { 
    background-color: red !important;
    color: white !important;
}

.klBadgeSuccess .p-badge {
    background-color: green !important;
    color: white !important;
}

